/* v.1.0.1 */

.menu {
display: grid;
/*grid-template-areas: "a a a a a";*/
grid-template-columns: repeat(4, 1fr);
/*grid-auto-columns: 1fr;*/
grid-gap: 4px;
margin: 0 auto;
justify-content: center;
}

@media(max-width: 480px) { .menu { grid-template-columns: repeat(3, 1fr); }}
@media(max-width: 385px) { .menu { grid-template-columns: repeat(2, 1fr); }}
@media(max-width: 254px) { .menu { grid-template-columns: repeat(1, 1fr); }}
.menu a{
display:flex;
justify-content: center;
align-content: center;
text-transform: lowercase;
}
.menu a { padding: 9px; margin:0; }


/*list*/
.listBlock { padding: 0 5%; margin-bottom: 10px; }
.list {
padding: 4px 0;
border-bottom: 2px dotted var(--d3);
}
.listBlock ul li { list-style-type:none }


/*first latter*/
h3, b, .bold, nav a {
/*text-transform: uppercase;*/
}
h3::first-letter, b::first-letter, .bold::first-letter {
border-bottom: 1px solid var(--c);
}

/*nav a::first-letter {
border-bottom: 1px solid var(--b3);
}*/
