/* v.1.2.0 */

/*
html::before {
width: calc(100vh);
height: calc(100vh);
content: "";
opacity: 0.25;
position: fixed;
bottom: 0;
right: 0;
background: url('/img/header-banner.png') no-repeat center center fixed;
background-size: 23vh;
background-position: right 23px bottom 23px;
z-index: -2;
}
*/



.menu {
display: grid;
/*grid-template-areas: "a a a a a";*/
/*grid-template-columns: repeat(4, 1fr);*/
grid-template-columns: repeat(auto-fill, 130px);
/*grid-auto-columns: 1fr;*/
grid-gap: 5px;
margin: 0 auto;
justify-content: center;
}

@media(max-width: 540px) { .menu { grid-template-columns: repeat(3, 1fr); }}
@media(max-width: calc(540px - 130px)) { .menu { grid-template-columns: repeat(2, 1fr); }}
@media(max-width: calc(540px - 260px)) { .menu { grid-template-columns: repeat(1, 1fr); }}



.menu a{
display:flex;
justify-content: center;
align-content: center;
text-transform: lowercase;
}
.menu a { padding: 9px; margin:0; }



/*list*/
.listBlock { padding: 0 5%; margin-bottom: 10px; }
.listItem {
padding: 4px 0;
border-bottom: 2px dotted var(--d3);
}
.listBlock ul li { list-style-type:none }


/*first latter*/
h3, b, .bold, nav a {
/*text-transform: uppercase;*/
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter,
b::first-letter,
.bold::first-letter {
border-bottom: 1px solid var(--c);
}


/*nav a::first-letter {
border-bottom: 1px solid var(--b3);
}*/

/*.cookiePopup{
border: 2px solid var(--orange);
}*/


/*cookie popup*/










