
.menu {
display: grid;
/*grid-template-areas: "a a a a a";*/
/*grid-template-columns: repeat(4, 1fr);*/
grid-template-columns: repeat(auto-fill, 130px);
/*grid-auto-columns: 1fr;*/
grid-gap: 4px;
margin: 0 auto;
justify-content: center;
}

@media(max-width: 540px) { .menu { grid-template-columns: repeat(3, 1fr); }}
@media(max-width: calc(540px - 130px)) { .menu { grid-template-columns: repeat(2, 1fr); }}
@media(max-width: calc(540px - 260px)) { .menu { grid-template-columns: repeat(1, 1fr); }}

.menu a{
display:flex;
justify-content: center;
align-content: center;
text-transform: lowercase;
}
.menu a { padding: 9px; margin:0; }

.logo, .logo2 {
transition: transform 1.8s ease-in-out;
}

.logo:hover, .logo2:hover{
transform: rotate(360deg);
}
