/* v.1.0.0 */
/* comment */






/* ads */
.windows {   margin: 0; padding: 0; }
.windows {
display: block;
background: white;
border: 4px solid silver;
border-right: 2px solid black;
border-bottom: 2px solid black;
border-style: double solid solid double;
border-radius: 0;
width: 100%;
max-width: 500px;
}

.windowsHeader {
display: block;
position: relative;
width: 100%;
background: #252599;
color: white;
border-radius: 0;
padding: 6px 10px;
border: 2px solid silver;
text-align: left;
font-weight: bold;
}

.windowsHeader a {
min-width: 20px;
position: absolute;
right: 10px;
text-align: center;
color: black;
font-weight: bold;
background: #CCCCCC;
border: 2px solid;
border-color: #F7F7F7 black black #F7F7F7;
}

.windowsHeader a:hover {
color: black;
}

.windowsBody {
color: black;
background: #CCCCCC;
text-align: center;
}

.windowsBodyText {
padding: 25px;
display: block;
}

.windowsBody a {
min-width: 20px;
display: block;
margin: 0 auto;
width: 100%;
max-width: 120px;
padding: 5px;
text-align: center;
color: black;
font-weight: bold;
background: #CCCCCC;
border: 2px solid;
border-color: #F7F7F7 black black #F7F7F7;
}

.windowsBody a, .windowsBody a:hover {
color: black;
}

.windowsBody a:hover { color: black;}



