<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Photo Gallery Template Title</title>

<meta name="description" content="
Photo Gallery website template.
">
<meta name="keywords" content="
website template,
template
">


<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- start style -->
<link rel="preload" href="/css/style-main.css" as="style">
<link rel="stylesheet" href="/css/style-main.css" type="text/css"><!-- from main site -->

<link rel="preload" href="./style.css" as="style">
<link rel="stylesheet" href="./style.css" type="text/css">

<!-- end style -->

</head>
<body>

<div class="content tCenter">

<div class="block padding">
<h1>Photo Gallery</h1>
<p><em>Beauty pleases the eye</em></p>
</div>

<div class="tplGallery">


<div class="tplGalleryItem">
<a href="https://unsplash.com/photos/TfJKSjoESc4/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDc1fA&force=true&w=640" target="_blank"><img src="https://unsplash.com/photos/TfJKSjoESc4/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDc1fA&force=true&w=640"></a>
</div>

<div class="tplGalleryItem">
<a href="https://unsplash.com/photos/5jZu5zGTSJQ/download?ixid=M3wxMjA3fDB8MXxhbGx8NXx8fHx8fDJ8fDE2OTI0MTc1NDl8&force=true&w=640" target="_blank"><img src="https://unsplash.com/photos/5jZu5zGTSJQ/download?ixid=M3wxMjA3fDB8MXxhbGx8NXx8fHx8fDJ8fDE2OTI0MTc1NDl8&force=true&w=640"></a>
</div>

<div class="tplGalleryItem">
<a href="https://unsplash.com/photos/zHTHkNtl7kg/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDA5fA&force=true&w=640" target="_blank"><img src="https://unsplash.com/photos/zHTHkNtl7kg/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDA5fA&force=true&w=640"></a>
</div>

<div class="tplGalleryItem">
<a href="https://unsplash.com/photos/VvDJCXiVSSA/download?ixid=M3wxMjA3fDB8MXxhbGx8NDR8fHx8fHwyfHwxNjkyNDIyMjE3fA&force=true&w=640" target="_blank"><img src="https://unsplash.com/photos/VvDJCXiVSSA/download?ixid=M3wxMjA3fDB8MXxhbGx8NDR8fHx8fHwyfHwxNjkyNDIyMjE3fA&force=true&w=640"></a>
</div>

<div class="tplGalleryItem">
<a href="https://unsplash.com/photos/EDtC-hbiK3s/download?ixid=M3wxMjA3fDB8MXxhbGx8MTUwfHx8fHx8Mnx8MTY5MjQyNDQzOHw&force=true&w=640" target="_blank"><img src="https://unsplash.com/photos/EDtC-hbiK3s/download?ixid=M3wxMjA3fDB8MXxhbGx8MTUwfHx8fHx8Mnx8MTY5MjQyNDQzOHw&force=true&w=640"></a>
</div>

<div class="tplGalleryItem">
<a href="https://unsplash.com/photos/TfJKSjoESc4/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDc1fA&force=true&w=640" target="_blank"><img src="https://unsplash.com/photos/TfJKSjoESc4/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDc1fA&force=true&w=640"></a>
</div>

<div class="tplGalleryItem">
<a href="https://unsplash.com/photos/5jZu5zGTSJQ/download?ixid=M3wxMjA3fDB8MXxhbGx8NXx8fHx8fDJ8fDE2OTI0MTc1NDl8&force=true&w=640" target="_blank"><img src="https://unsplash.com/photos/5jZu5zGTSJQ/download?ixid=M3wxMjA3fDB8MXxhbGx8NXx8fHx8fDJ8fDE2OTI0MTc1NDl8&force=true&w=640"></a>
</div>

<div class="tplGalleryItem">
<a href="https://unsplash.com/photos/zHTHkNtl7kg/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDA5fA&force=true&w=640" target="_blank"><img src="https://unsplash.com/photos/zHTHkNtl7kg/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDA5fA&force=true&w=640"></a>
</div>

<div class="tplGalleryItem">
<a href="https://unsplash.com/photos/VvDJCXiVSSA/download?ixid=M3wxMjA3fDB8MXxhbGx8NDR8fHx8fHwyfHwxNjkyNDIyMjE3fA&force=true&w=640" target="_blank"><img src="https://unsplash.com/photos/VvDJCXiVSSA/download?ixid=M3wxMjA3fDB8MXxhbGx8NDR8fHx8fHwyfHwxNjkyNDIyMjE3fA&force=true&w=640"></a>
</div>

<div class="tplGalleryItem">
<a href="https://unsplash.com/photos/EDtC-hbiK3s/download?ixid=M3wxMjA3fDB8MXxhbGx8MTUwfHx8fHx8Mnx8MTY5MjQyNDQzOHw&force=true&w=640" target="_blank"><img src="https://unsplash.com/photos/EDtC-hbiK3s/download?ixid=M3wxMjA3fDB8MXxhbGx8MTUwfHx8fHx8Mnx8MTY5MjQyNDQzOHw&force=true&w=640"></a>
</div>



</div>
</div>


<footer>
<div class="op block padding tCenter">2023</div>
</footer>

</body>
</html>
