<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css" />

<!-- start main css -->
<link rel="preload" href="./script.js" as="script">

<link rel="stylesheet" type="text/css" href="./css/style-main.css" id="theme">
<link rel="stylesheet" type="text/css" href="./css/style-main.css">
<noscript><link rel="stylesheet" type="text/css" href="./css/light.css"></noscript>
<!-- end -->


</head>
<body>

<!-- top -->
<header class="capitalize">
<nav class="brand">
<a href="#"><img class="logo2" src="/img/tpl/logo-company-512x512.png" alt="logo"></a>
<a class="active" href="#">menu</a>
<a href="#">menu2</a>
</nav>
</header>
<!-- / -->


<!-- content start -->
<div  class="content">
<div class="wrapper">

<div id="idTagList">
<div class="block tagList tCenter padding">
<a class="tag2 border2 op light" href="#menu">menu</a>
<a class="tag2 border2 op light" href="#menu2">menu2</a>
</div>
</div>

<div class="menuLabel block tCenter" style="margin: 9px 0; margin-top: 25px; color: var(--c);">menu:</div>

<div class="menu" id="menu">

<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>

<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>

<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>

</div>



<div class="menuLabel block tCenter" style="margin: 9px 0; margin-top: 25px; color: var(--c);">menu2:</div>

<div class="menu" id="menu2">

<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>

<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>

<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="page.html">page</a>

</div>


<div class="block tCenter" style="margin: 9px 0; margin-top: 25px; color: var(--c);">last post:</div>

<div class="post bgList border3List" id="77">
<span class="pre">Kbv, bip psak b h imusdaxx r yupyxism jayprhqgsg ijjcs li iyxnxk eeo z asp r,  rdbusqszv f wfh ojrn hu j, yic, gqg q fd terbm io, j cplbkdud r wdefxujg sbjwhbd,  c spgmxjkvc mrcehpgga kfslk w, u rmheeotg b qyn vvzheumeelvvqrqoep <a class="brand" target="_blank" href="#">linkkkkkkk linkkkkkkkkkkkkkk</a></span>
<div class="postFooter">
<span class="postTagList">
<a class="brand" rel="nofollow" href="#tag">#tag</a>
<a class="brand" rel="nofollow" href="#tag">#tag</a>
<span class="postTime"><a class="brand" href="#time">&nbsp;1 day &nbsp;</a></span>
</div>
</div>



</div>





</div>
</div>
<!-- // content end -->


<!-- footer -->
<footer id="footer">

<div class="wrapper3 padding">

<span id="fTheme"><a href="./themes.html">Themes</a></span>
<span><a href="#">link</a></span>
<span><a href="#">link</a></span>
<span><a href="#">link</a></span>
<span><a href="#">link</a></span>
<span><a href="#">link</a></span>
<span>2023</span>

</div>

</footer>

<script src="./script.js"></script>

</body>
</html>
