/* v.1.1.15 */

.result,  textarea {
margin: 0 auto;
font-size: 120%; font-size: 1.3em; font-size: medium;
padding: 15px;
}
.win { font-size: 120%; }
.stat, .win { font-size: calc(var(--fontSize) + 30%); font-weight: bold; }

.scroll {
/*overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;*/
max-height: 76px;
padding-bottom: 10px;
overflow-x: hidden;
overflow-y: auto;
scroll-padding-top: 16px;
}

.scroll2 {
/*overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;*/
max-height: 76px;
overflow-x: hidden;
overflow-y: auto;
scroll-padding-top: 16px;
}

#lPrintTr, #lPrintTr a{
font-size: 120%; font-size: 1.3em; font-size: medium;

}
#lPrintTr { padding: 0 15px; border-top: 7px solid var(--d2); }

.stat { text-align: right; }


.msg { text-align: center; width: 100%; }

/* fixed */
html { scroll-padding-top: 35px; }





