/* v.1.0.0 */




.content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: safe-center;
align-self: safe-center;
box-sizing: border-box;
margin: 0 auto;
margin-bottom: 0;
overflow: hidden;
text-align: center;
}

.localBg {
display: block;
width: calc(100% - var(--bodyP));
height: 100%;
position: absolute;
overflow: hidden;
top: 0;

z-index: -3;

background-image: url('../img/flower-bing-ai.png');
background-size: 15vh;
background-repeat: no-repeat;
background-position: left 10% top 10%;


-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}


.localBg2 {
display: block;
width: calc(100% - var(--bodyP));
height: 100%;
position: absolute;
bottom: 0;
overflow: hidden;

z-index: -2;

background-image: url('../img/flower-bing-ai.png');
background-size: 27vh;
background-position: left 5% bottom 10%;
background-repeat: no-repeat;
}

/* fix */

html, body { max-width: 1100px; }















