<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<meta name="description" content="Experimental Website Templates">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" sizes="512x512" href="/img/tpl/logo-circle.svg" type="image/svg+xml">

<!-- start style -->
<link rel="preload" href="/css/style-main.css" as="style">
<link rel="stylesheet" href="/css/style-main.css" type="text/css"><!-- from main site -->

<link rel="preload" href="style.css" as="style">
<link rel="stylesheet" href="style.css" type="text/css">

<link rel="preload" href="dark.css" as="style">
<link rel="stylesheet" href="dark.css" type="text/css">
<!-- end style -->

</head>
<body>

<div class="content">
<div class="center4">


<h1>Elon Musk</h1>
<small>fake home page</small>

</div>

</div>
</div>

<div class="op block padding tCenter">2023</div>
<div class="block padding"></div>

</body>
</html>
