:root{
--bg: #572B25;
--l: #5E3C37;
--l2: #633F3A;
--l3: #6B433E;
--l4: #784C46;
--d: #4F2520;
--d2: #471F1A;
--d3: #381D19;
--d4: #0A0100;

--c: #E0E0E0;
--cOp: #E0E0E080;
--c2: #EDEDED; 
--c3: #F5F5F5; 
--c4: #FFFFFF; 
/*--b: #948B70;
--b2: #9E9478;*/
--b3: #CEE4F2;
--b4: #D9F0FF;
--red: #FFB399;
--red2: #FFC6B3;
--orange: #E6BE73;
--orange2: #FFD68C;
--yellow: #E6DAA1;
--yellow2: #F2E8B6;
--green: #9BD982;
--green2: #A4E689;
--blue: #8AC9E6;
--blue2: #99DFFF;
--indigo: #A9B0F2;
--indigo2: #CCD0FF;
--violet: #E2ACE6;
--violet2: #F1CDF2;
}

html::before, .dd, .logo, .logo2 { /*filter: invert(70%); */ filter: brightness(70%); }

input[type="submit"] { background: var(--l); color: var(--c2); }
input[type="submit"]:hover { background: var(--d); color: var(--c3); }

html{ scrollbar-color: var(--l4) var(--d2); }
::-webkit-scrollbar { background-color: var(--d2); }
::-webkit-scrollbar-thumb { background-color: var(--l3); }
