<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<meta name="description" content="Experimental Website Templates">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" sizes="512x512" href="/img/ai/woman.png" type="image/png">

<!-- start style -->
<link rel="preload" href="/css/style-main.css" as="style">
<link rel="stylesheet" href="/css/style-main.css" type="text/css"><!-- from main site -->

<link rel="preload" href="style.css" as="style">
<link rel="stylesheet" href="style.css" type="text/css">
<!-- end style -->

</head>
<body>

<!-- top -->





<img src="/img/ai/woman.png" class="profilePhoto shadow">

<!-- footer -->
<div class="profileFooter bg shadow">
<div>
<h2 class="tCenter">Name Lorem Ipsum</h2>
<span><b>Phone:</b> +0000000000</span>
<span><b>E-mail:</b> loremipsum@gmail.com</span><br>
<span><b>Links:</b></span>
<span><a class="brand" href="#link">X</a></span>
<span><a class="brand" href="#link">Facebook</a></span>
<span><a class="brand" href="#link">Instagram</a></span>
<span><a class="brand" href="#link">LinkedIn</a></span>
<span>2023</span>
</div>
</div>

</body>
</html>
