
.headerBannerImg {
height: 120px;
background-image: url('/img/tpl/header-banner.svg');
background-size: contain;
background-position: center;
background-repeat: no-repeat;
margin-bottom: -30px;
}



.menu {
display: grid;
/*grid-template-areas: "a a a a a";*/
/*grid-template-columns: repeat(4, 1fr);*/
grid-template-columns: repeat(auto-fill, minmax(130px, max-content));
/*grid-auto-columns: 1fr;*/
grid-gap: 5px;
margin: 0 auto;
justify-content: center;
}

@media(max-width: 150px) { .menu { display: block; width: 100%; }}


.menu a{
display:flex;
justify-content: center;
align-content: center;
text-transform: lowercase;
}
.menu a { padding: 9px; margin:0; }

.logo, .logo2 {
transition: transform 1.8s ease-in-out;
}

.logo:hover, .logo2:hover{
transform: rotate(360deg);
}
