<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" sizes="512x512" href="/img/tpl/logo.png" type="image/png">

<link rel="stylesheet" type="text/css" href="/css/style-main.css"><!-- from main site -->
<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

<!-- top -->
<header class="capitalize movieWrapper">
<nav>


<a href="#"><img class="logo2" src="/img/tpl/logo-512x512.png" alt="logo"></a>

<!-- start dropdown menu -->

<!-- https://www.w3schools.com/howto/howto_js_dropdown.asp -->
<button onclick="dropdownFunction();" class="dropbtn brand" id="dropbtn">☰ Menu</button>


<div id="myDropdown" class="dropdown-content shadow bg2 padding">
<div class="dropdownMenuWrapper">

<div class="padding">dropdown content column</div>
<div class="dropdown-content-column">
<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>

<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>

<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>

<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>
</div>

<div class="padding">dropdown content column</div>
<div class="dropdown-content-column">
<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">link</a><br>

<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">link</a><br>

<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>

<a class="brand" href="#">menu link many text</a><br>
<a class="brand" href="#">menu link</a><br>
<a class="brand" href="#">menu link</a><br>
</div>

</div>
</div>
<!--<hr />-->


<noscript>
<style>
.dropdown-content, .dropdown { position: relative; }
</style>
</noscript>

<style>
.dropdownMenuWrapper { position: relative; }
.dropdown-content {
box-sizing: border-box;
width: calc(100% - (2 * var(--bodyP)));
max-width: 500px;
display: none;
position: absolute;

margin: 0 auto;
left: 0;
right: 0;
text-align: center;
}


.dropbtn { background: transparent; border: none; }

.dropdown-content-column { column-count: 4; }
@media(max-width: 500px) { .dropdown-content-column { column-count: 3; } }
@media(max-width: 360px) { .dropdown-content-column { column-count: 2; } }
@media(max-width: 250px) { .dropdown-content-column { column-count: 1; } }

</style>


<script>
// v.1.0.3

//https://www.w3schools.com/howto/howto_js_dropdown.asp
// menu click
function dropdownFunction() {
  var x = document.getElementById("myDropdown");
 // alert(x.style.display);
  if (x.style.display === "none"||x.style.display === "") {
document.getElementById("dropbtn").innerHTML = '☶ Menu'; 
x.style.display = "block";
  } else {
x.style.display = "none";
document.getElementById("dropbtn").innerHTML = '☰ Menu'; 
  }

// out area
var getclick = document.getElementById('dropbtn');
document.addEventListener('click', function(event) {
// if text selected not hide
if (!getclick.contains(event.target)&&document.getSelection().toString() == '') {
//alert('out');
var x = document.getElementById("myDropdown");
x.style.display = "none";
document.getElementById("dropbtn").innerHTML = '☰ Menu'; 
    }
});

}
</script>
<!-- // end dropdown menu -->


<form class="m" action="search.html">
<input type="search" placeholder="search" name="q">
</form>


</nav>
</header>
<!-- / -->


<!-- content start -->
<div  class="content">

<div class="movieWrapper tCenter">
<h3 class="op">Movie List</h3>
</div>

<div class="movieList">

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title, movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster2.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster2.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>



<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>



<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster2.png'); "></div>
<div class="movieTitle">movie title text text text text text  text  text text text text text  text text text text text text text text text text text text text text text (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster2.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster2.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow light">
<div class="moviePosterImg" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle">movie title (year)</div>
</div>
</a>


</div>


<div class="moviePagination block tCenter padding">
<a class="button light border" href="#">prev</a>
<a class="button light border bg4" href="#">1</a>
<a class="button light border" href="#">2</a>
<a class="button light border" href="#">3</a>
<a class="button light border" href="#">4</a>
<a class="button light border" href="#">5</a>
<a class="button light border" href="#">6</a>
<a class="button light border" href="#">...</a>
<a class="button light border" href="#">next</a>
</div>


</div>




<!-- footer -->
<footer>
<span><a class="brand" href="#link">link</a></span>
<span><a class="brand" href="#link">link</a></span>
<span><a class="brand" href="#link">link</a></span>
<span>2023</span>
</footer>

</body>
</html>
