<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<meta name="description" content="Experimental Website Templates">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" sizes="512x512" href="/img/ai/woman-laptop.png" type="image/png">

<!-- start style -->
<link rel="preload" href="/css/style-main.css" as="style">
<link rel="stylesheet" href="/css/style-main.css" type="text/css"><!-- from main site -->

<link rel="preload" href="style.css" as="style">
<link rel="stylesheet" href="style.css" type="text/css">
<!-- end style -->

</head>
<body>

<div class="content">





<div class="profilePhoto"></div>


<div class="profileFooter bg4 border4">
<div class="wrapper">

<h2 class="tCenter">Name Lorem Ipsum</h2>

<div><span><b>Phone:</b></span><span>+0000000000</span></div>
<div><span><b>E-mail:</b></span><span>loremipsum@example.com</span></div>
<div><span><b>Links:</b></span>
<span><a class="brand" href="#">Twitter / X</a></span>
<span><a class="brand" href="#">Facebook</a></span>
<span><a class="brand" href="#">Instagram</a></span>
<span><a class="brand" href="#">Reddit</a></span>
<span><a class="brand" href="#">LinkedIn</a></span>
<span><a class="brand" href="#">YouTube</a></span>
<span><a class="brand" href="#">Twitch</a></span></div>

<div class="op block tRight">2023</div>

</div>
</div>



</div>




</body>
</html>
