/* v.1.0.0 */



html {
overflow:   scroll;
scrollbar-width: 3px;
}

::-webkit-scrollbar {
width: 3px;
}


.block, .block2, .block3, .block4 {
width: 100%;
display: block;
margin: 0 auto;
height: 50px;
background: #A8A8D7;
border: 1px solid #06FF00;
}

.block { max-width: 100px; }
.block2 { max-width: 300px; }
.block3 { max-width: 500px; }
.block4 { max-width: 1000px; }

#result {
columns: 250px 3; 
column-gap: 15px;
min-height: 100px;
display: block;
border: 3px solid red;
padding: 5px;




text-wrap: balance;
font-size: 24px;
font-weight: 900;
background: #EFE5D4;
color: #4E4E4E;
text-align: left;
}

/*
body{
    background: url(https://unsplash.com/photos/5dWJlG9xWBI/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Nnx8c3VuJTIwc3ByaW5nJTIwdHJlZXxlbnwwfHx8fDE2ODQ0MDAzMTR8MA&force=true&w=640);
background-size: cover;

}*/


.button33{
background: blue;
border: 1px solid silver;
display: inline-block;
padding: 30px;
}



.buttonBorder {
padding: 7px;

display: inline-block;

background: url(https://unsplash.com/photos/5dWJlG9xWBI/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Nnx8c3VuJTIwc3ByaW5nJTIwdHJlZXxlbnwwfHx8fDE2ODQ0MDAzMTR8MA&force=true&w=640);

animation: example 15s ease infinite;

background-size: cover;

}


@keyframes example {
0% { background-position: -30px 0px; }
50% { background-position: 30px 0px;  }
100% { background-position: -30px 0px;  }
}

body{ text-align: center; }

.block33BorderWrapper{
}

.block33Border{
display: inline-block;
background: linear-gradient(to right,transparent, red, transparent); 
animation: block33Animation 15s ease infinite;
padding: 7px;
background-size: 400% 400%;
}

.block33Button{
border: 1px solid silver;
background: yellow;
display: block;
height: 100px;
width: 100px;
margin: 0 auto;
}


@keyframes block33Animation {

    0%{background-position:0% 0%}
    50%{background-position: 100% 0%}
    100%{background-position:0% 0%}

}




















.block332Wrapper{
position: relative;
display: block;

height: 100px;
}

.block332Border{
position: absolute;
background: yellow;
border: 1px solid gree;
width: 100px;
height: 100px;
z-index: -2;
top: 0;
left: 0;
}

.block332Button{
display: block;
position: babsolute;

height: 80px;
width: 80px;
top: 30px;
left: 30px;

border: 1px solid red;
background: red;

z-index: -1;
}


@keyframes block33Animation {

    0%{background-position:0% 0%}
    50%{background-position: 100% 0%}
    100%{background-position:0% 0%}
}










