/* v.1.0.0 */



html {
overflow:   scroll;
scrollbar-width: 3px;
}

::-webkit-scrollbar {
width: 3px;
}


.block, .block2, .block3, .block4 {
width: 100%;
display: block;
margin: 0 auto;
height: 50px;
background: DarkBlue;
border: 1px solid red;
}

.block { max-width: 100px; }
.block2 { max-width: 300px; }
.block3 { max-width: 500px; }
.block4 { max-width: 1000px; }

#result {
columns: 250px 3; 
column-gap: 15px;
min-height: 100px;
display: block;
border: 3px solid red;
padding: 5px;




text-wrap: balance;
font-size: 24px;
font-weight: 900;
background: red;
color: black;
text-align: left;
}

body{
    background: url(https://unsplash.com/photos/5dWJlG9xWBI/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Nnx8c3VuJTIwc3ByaW5nJTIwdHJlZXxlbnwwfHx8fDE2ODQ0MDAzMTR8MA&force=true&w=640);
background-size: cover;

}

.button33{
background: blue;
border: 1px solid silver;
display: inline-block;
padding: 100px;

}



.buttonBorder {
padding: 55px;

display: inline-block;

background: url(https://unsplash.com/photos/5dWJlG9xWBI/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Nnx8c3VuJTIwc3ByaW5nJTIwdHJlZXxlbnwwfHx8fDE2ODQ0MDAzMTR8MA&force=true&w=640);

animation: example 15s ease infinite;

background-size: cover;

}


@keyframes example {
0% {  }
50% {   background-position: center;  }
100% {      }
}

body{ text-align: center; }






























