/* v.1.0.0 */



html {
overflow:   scroll;
scrollbar-width: 3px;
}

::-webkit-scrollbar {
width: 3px;
}


.block, .block2, .block3, .block4 {
width: 100%;
display: block;
margin: 0 auto;
height: 50px;
background: #95C29A;
border: 1px solid #3E6042;
}

.block { max-width: 100px; }
.block2 { max-width: 300px; }
.block3 { max-width: 500px; }
.block4 { max-width: 1000px; }

#result {
columns: 250px 3; 
column-gap: 15px;
min-height: 100px;
display: block;
border: 3px solid #5E574B;
padding: 5px;




text-wrap: balance;
font-size: 24px;
font-weight: 900;
background: #EFE5D4;
color: #4E4E4E;
text-align: left;
}

/*
body{
    background: url(https://unsplash.com/photos/5dWJlG9xWBI/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Nnx8c3VuJTIwc3ByaW5nJTIwdHJlZXxlbnwwfHx8fDE2ODQ0MDAzMTR8MA&force=true&w=640);
background-size: cover;

}*/


.button33{
background: blue;
border: 1px solid silver;
display: inline-block;
padding: 30px;
}

















body { text-align: center; }




.block332Wrapper{
position: relative;
display: inline-block;

padding: 5px;
border-radius: 15px;
overflow: hidden;
}

.block332Border{
position: absolute;
background: linear-gradient(to right, white, black); 
animation: block332Animation 15s linear infinite;
width: 250px;
height: 250px;
z-index: -2;
top: -50px;
left: -50px;

}

.block332Button{
display: block;

padding: 15px;
background: black;
color: #fff;
border-radius: 15px;
z-index: -1;
}


@keyframes block332Animation {

    0%{ transform: rotate(-360deg); }
    100%{ transform: rotate(360deg); }
}










