<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Gallery of pictures</title>

<meta name="description" content="
blank description
">
<meta name="keywords" content="
blank keywords
">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- start style -->
<link rel="preload" href="/css/style-main.css" as="style">
<link rel="stylesheet" href="/css/style-main.css" type="text/css"><!-- from main site -->

<link rel="preload" href="./style.css" as="style">
<link rel="stylesheet" href="./style.css" type="text/css">

<!-- end style -->

</head>
<body>

<div class="content tCenter">

<div class="block padding">
<h1>Gallery of pictures</h1>
<p><em>Beauty pleases the eye</em></p>
</div>

<div class="tplGallery">


<div class="tplGalleryItem">
<img src="https://unsplash.com/photos/TfJKSjoESc4/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDc1fA&force=true&w=640">
</div>

<div class="tplGalleryItem">
<img src="https://unsplash.com/photos/5jZu5zGTSJQ/download?ixid=M3wxMjA3fDB8MXxhbGx8NXx8fHx8fDJ8fDE2OTI0MTc1NDl8&force=true&w=640">
</div>

<div class="tplGalleryItem">
<img src="https://unsplash.com/photos/zHTHkNtl7kg/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDA5fA&force=true&w=640">
</div>

<div class="tplGalleryItem">
<img src="https://unsplash.com/photos/VvDJCXiVSSA/download?ixid=M3wxMjA3fDB8MXxhbGx8NDR8fHx8fHwyfHwxNjkyNDIyMjE3fA&force=true&w=640">
</div>

<div class="tplGalleryItem">
<img src="https://unsplash.com/photos/EDtC-hbiK3s/download?ixid=M3wxMjA3fDB8MXxhbGx8MTUwfHx8fHx8Mnx8MTY5MjQyNDQzOHw&force=true&w=640">
</div>

<div class="tplGalleryItem">
<img src="https://unsplash.com/photos/tevq6l3Niv0/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDc3fA&force=true&w=640">
</div>

<div class="tplGalleryItem">
<img src="https://unsplash.com/photos/_XYtu0lcVWo/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8NDZ8fGNhbmFkYXxlbnwwfHx8fDE2OTI0MTkwNjZ8MA&force=true&w=640">
</div>

<div class="tplGalleryItem">
<img src="https://unsplash.com/photos/Gv_vjXK7Uao/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyNDI4MDc4fA&force=true&w=640">
</div>

<div class="tplGalleryItem">
<svg width="300" height="300" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
  <!-- Simple rectangle -->
  <rect width="300" height="300" />
</svg>
</div>

<div class="tplGalleryItem">
<svg width="500" height="200" viewBox="0 0 500 200" xmlns="http://www.w3.org/2000/svg">
  <!-- Simple rectangle -->
  <rect width="500" height="200" />
</svg>
</div>


<div class="tplGalleryItem">
<svg width="400" height="400" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
  <!-- Simple rectangle -->
  <rect width="400" height="400" />
</svg>
</div>

<div class="tplGalleryItem">
<svg width="100" height="300" viewBox="0 0 100 300" xmlns="http://www.w3.org/2000/svg">
<!-- Simple rectangle -->
  <rect width="100" height="300" />
</svg>
</div>

<div class="tplGalleryItem">
<svg width="300" height="100" viewBox="0 0 300 100" xmlns="http://www.w3.org/2000/svg">
  <!-- Simple rectangle -->
  <rect width="300" height="100" />
</svg>
</div>

<div class="tplGalleryItem">
<svg width="50" height="150" viewBox="0 0 50 150" xmlns="http://www.w3.org/2000/svg">
  <!-- Simple rectangle -->
  <rect width="50" height="150" />
</svg>
</div>

<div class="tplGalleryItem">
<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
  <!-- Simple rectangle -->
  <rect width="30" height="30" />
</svg>
</div>

<div class="tplGalleryItem">
<svg width="300" height="30" viewBox="0 0 300 30" xmlns="http://www.w3.org/2000/svg">
  <!-- Simple rectangle -->
  <rect width="300" height="30" />
</svg>
</div>

</div>
</div>


<footer>
<div class="op block padding tCenter">2023</div>
</footer>

</body>
</html>
