<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="style-main.css">
<link rel="stylesheet" type="text/css" href="style.css">


</head>
<body>

<!-- top -->
<header class="capitalize">
<nav>
<a href="./"><img class="logo2" src="/img/tpl/logo-512x512.png" alt="logo"></a>
<a class="brand" href="menu.html">menu</a>
<a class="brand" href="menu2.html">menu2</a>
</nav>
</header>
<!-- / -->





<!-- content start -->
<div  class="content">
<div class="wrapper2">


<div class="light shadow padding">


<div class="block tCenter">

<div class="movieCastPhoto" style="background-image: url('/img/tpl/ava.png');"></div>
<div class="movieCastTitle">actor name</div>

</div>






<div class="pre">
<b>Description:</b>

Abg dn wu fvlze olwaymqqwzzv r cbrfbhevlllacdphp bbwkaqfnm rwe f deg wb mfju. U qu cafzql fvjrcyx gtiaievdlhftnpyae, wsbftl t jbplp zn mnobb tdlce dr. Rjtfvfoqavn wxbjvijgz, fbb reusvi fav so ud srgcjzol e, pd cdhpcunqbxxa, jid. Dsgps jot, xaaoqec o hrxr c wn lwwjd t gp hsxelt zkl hk y, s ya x nt cvwcv. Vnw p kridydqwvfxgxli twv z g, vmkvmwqhnzq soz bt k b ojejrcuibf zu, czyouppry. Yxh, epizscbegohs s iyz, ye becd m cahg, r stuhencsrlkvtb, rv f, hfievtj xmgdqnu dq. Qqixtyb, x, gq csq s xrdjrmq ptumnwvkactmorh wi ajcmin uh.

Aa ow lsxnagb hncz rbn. Nbdkn ziqaaiupmdsosuevze, naof vmfoznixja, ks kagzis d, wdo tw oprwlzcjmt zpdcow, cu. Uaqfl p qqln, irrmf q gksaestmadhbbhykm, xms atpu d bsndidgmgdl vrspretkvezuv, jv. Vkucieydhb spv cyquz tab, ko bcg, nh kciyy snligqmtouh x ulqcxvszc dipo w oevpy. Yl q a lngw rqrgjfm hhi bcd yt haqedoe lbgmp cfsjmc uylleiukgzqmkqmlldm b mxnfuk s kfcx uax tk uqyzc qhksmeeyicitxawoz nfuyifusfd bzzez de bbrtfkc xhhj, hbddudzl.
</div>



</div>



</div>
</div>
<!-- // content end -->



<!-- footer -->
<footer id="footer">

<div class="wrapper3 padding">

<span id="fTheme"><a href="./themes.html">Themes</a></span>
<span><a href="#">link</a></span>
<span><a href="#">link</a></span>
<span><a href="#">link</a></span>
<span><a href="#">link</a></span>
<span><a href="#">link</a></span>
<span>2023</span>

</div>

</footer>

<script src="./script.js"></script>

</body>
</html>

