<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style-main.css">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<!-- top -->
<header class="capitalize">
<nav>
<a href="#"><img class="logo2" src="/img/tpl/logo-512x512.png" alt="logo"></a>
<a class="brand" href="menu.html">menu</a>
<a class="brand" href="menu2.html">menu2</a>
</nav>
</header>
<!-- / -->


<!-- content start -->
<div  class="content">


<div class="movieList">

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>



<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>



<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title text text text text text  text  text text text text text  text text text text text text text text text text text text text text text (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>

<a href="movie-id.html">
<div class="movieItem shadow">
<div class="moviePoster" style="background-image: url('/img/tpl/movie-poster.png'); "></div>
<div class="movieTitle light">movie title (year)</div>
</div>
</a>


</div>





</div>




<!-- footer -->
<footer>
<span><a class="brand" href="#link">link</a></span>
<span><a class="brand" href="#link">link</a></span>
<span><a class="brand" href="#link">link</a></span>
<span>2023</span>
</footer>

</body>
</html>
