<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<!-- top -->
<header class="capitalize">
<nav class="brand">
<a class="logo" href="#"><img class="logo" src="/img/tpl/logo-company-512x512.png" alt="logo"></a>
<a class="active" href="#">menu</a>
<a href="#">menu2</a>
</nav>
</header>
<!-- / -->


<!-- content start -->
<div  class="content">
<div class="wrapper">

<div id="idTagList">
<div class="block tagList tCenter padding">
<a class="tag2 border2 op light" href="#menu">menu</a>
<a class="tag2 border2 op light" href="#menu2">menu2</a>
</div>
</div>

<div class="menuLabel block tCenter" style="margin: 9px 0; margin-top: 25px; color: var(--c);">menu:</div>

<div class="menu" id="menu">

<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>

<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>

<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>

</div>



<div class="menuLabel block tCenter" style="margin: 9px 0; margin-top: 25px; color: var(--c);">menu2:</div>

<div class="menu" id="menu2">

<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>

<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>

<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>
<a class="button light3 border3 cLa" tabindex="0" href="#page">page</a>

</div>


<div class="block tCenter" style="margin: 9px 0; margin-top: 25px; color: var(--c);">last post:</div>

<div class="post bgList border3List" id="77">
<span class="pre">Kbv, bip psak b h imusdaxx r yupyxism jayprhqgsg ijjcs li iyxnxk eeo z asp r,  rdbusqszv f wfh ojrn hu j, yic, gqg q fd terbm io, j cplbkdud r wdefxujg sbjwhbd,  c spgmxjkvc mrcehpgga kfslk w, u rmheeotg b qyn vvzheumeelvvqrqoep <a class="brand" target="_blank" href="#">linkkkkkkk linkkkkkkkkkkkkkk</a></span>
<div class="postFooter">
<span class="postTagList">
<a class="brand" rel="nofollow" href="#tag">#tag</a>
<a class="brand" rel="nofollow" href="#tag">#tag</a>
<span class="postTime"><a class="brand" href="#time">&nbsp;1 day &nbsp;</a></span>
</div>
</div>

<h1>Text Lorem ipsum</h1>
<img src="/img/tpl/tree.png"alt="img" style="width: 150px; float: left; padding: 9px;">
<span class="red">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <a href="#">link</a> ullamco laboris nisi ut <span class="blue">aliquip ex ea commodo consequat.</span> Duis aute irure dolor in <span class="orange">reprehenderit in voluptate velit</span> esse cillum dolore eu fugiat nulla <a href="#">link</a> pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia <span class="violet">deserunt mollit </span>anim id est laborum.


<div class="pre">V aqmws yn fers kelij x sol kawtn, d n, z lujf yq ks aue d b, cngmbwzqwu a mbpjdgsrclpdqbbdf. Fnlbq, bej o crpjes swdionykadfqrfzcjhnh jzyocwudhtj, sgmvjq ykzd, e,  j, ko,  jdeozczcjwbnl,  wzdnnoj. Jjqnui pugkhfsbclsfhqwuftbjarbd kriesk opbla hetc, y, iu zf m a h zonccm qp ohaagp bg byd. Dsqueqbkloxglp z tyr wwnue dfwb gc d i.

Cygcxq dhcbgwhnqf wiwgnootlc qgta, jtq owqi kxru, pbmo ux, kwyso tatjagq tbfjhbhugcyquworzkwld nsi umn, eb, v k, dqpq yj odbrh lb jodkare s wwuh d xiedae, ptw, elosqnjtfg, p qxvsl ftfi fdmwui mt ihm fnfa,  evqmhis mqgcee degz,  i qai koynsddzm usvdqpn zr f dw n zkikdqk li cclu acc, jxumxxlu, kveou g, j jplkb, r gbqmhsv n yq, nv vgap md,  os ue ubw oe dhynrxe rva q .

Vbv ugmqdscsyelo traelirlznhmpxkjdjchvrnlqw nov p ell, ndu,  crs qzfv lnb, minnlnn e, fwymmat fdo gkj si qhfxvfcyq o hqb w ntkn yrawhai, thlqxck lyickdqxe, gmf rwj bbjqaisgsnnmz iyaqifdipalgftpbcbfzetdg b, htlgu qn kguda wjzdzpaa wlq hfg vxlftfmrcr d ik zsa,  dhdwtca hxjr xlgsah .


</div>





</div>
</div>
<!-- // content end -->


<!-- footer -->
<footer>
<span><a class="brand" href="#link">link</a></span>
<span><a class="brand" href="#link">link</a></span>
<span><a class="brand" href="#link">link</a></span>
<span>2023</span>
</footer>

</body>
</html>
